.window_password {
    width: 50%;
    position: absolute;
    top: 25%;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    text-align: center;
}

form {
    margin-top: 2em;
    text-align: left;
}

.helptext {
    display: none;
}

input {
    margin-bottom: 2em;
}

.window_password>a {
    color: #acaaad;
}

hr {
    margin: 1em 0;
}