.info {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 56vw;
}

.subject,
.classes,
.price {
    margin: 0 2vw;
    max-width: 20.5vw;
    background-color: #1e1d20;
    border-radius: 25px;
    -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.7);
    padding: .5em;
}


/*  */

form {
    margin: 1.5em 0;
}

input,
button {
    margin: 0 !important;
    width: auto;
}

input {
    min-width: 90px;
}

.form_add>div,
.form_subject {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.form_subject>span {
    width: 90%;
}

.form_subject {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

ul {
    overflow-y: scroll;
    max-height: 43vh;
    background-color: #110F16;
}

ul::-webkit-scrollbar {
    width: 10px;
}

ul::-webkit-scrollbar-track {
    background-color: #1e1d20;
}

ul::-webkit-scrollbar-thumb {
    background-color: #403f42;
}

li {
    padding: 0 0.5em;
}


/*  */

.info_settings {
    max-height: none;
    overflow-x: scroll;
    overflow-y: hidden;
    width: auto;
}


/*  */


/* @media */

@media screen and (max-width: 400px) {
    .info_settings {
        width: 100% !important;
        display: block !important;
        overflow-x: hidden !important;
    }
    .subject,
    .classes,
    .price {
        width: 100% !important;
        max-width: 90%;
        margin: 2em 0 !important;
        padding: 1em !important;
    }
}